
/* Nose, lo hizo el pelado */

.card {
  border: 1px solid #ddd;
  height: auto;
  width: 80%;
  margin-left: 10%;
  margin-top: 20px;
  padding: 20px;
}

.precio {

  font-weight: bold;
  margin-top: 15px;
}

/*Responsive precio producto*/
.precio{
	margin-bottom: 13px;
}

@media (max-width: 576px) {
.precio{
	  font-size: 1.3rem;
}

}

@media (min-width: 576px) {
.precio{
	font-size: 1.5em;
}

}

@media (min-width: 756px) {
.precio{
	font-size: 1.7em;

}
}

.containertienda{
	padding-top:100px;
}

@media (max-width: 576px){

.containertienda{
	padding-top:140px;
}

}

@media (min-width: 576px) {
.containertienda{
	padding-top:150px;
}

}


.titcategoria{

}
/*Tipografías*/

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: black;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: black;
}

/*Responsive titulo de categoria*/

@media (max-width: 576px) {
.titcategoria{
	font-size: 1.8em;
}

}

@media (min-width: 576px) {
.titcategoria{
	font-size: 2.4em;
}

}

@media (min-width: 756px) {
.titcategoria{
	font-size: 3em;

}

}

/*Responsive titulo producto*/
.titproducto{
	margin-bottom: 13px;
}

@media (max-width: 576px) {
.titproducto{
	font-size: 1em;
}

}

@media (min-width: 576px) {
.titproducto{
	font-size: 1.4em;
}

}

@media (min-width: 756px) {
.titproducto{
	font-size: 2em;

}

}

/*Responsive descripción de productos*/

@media (max-width: 576px) {
.descproducto{
	font-size: 0.8em;
}

}

@media (min-width: 576px) {
.descproducto{
	font-size: 1em;
}

}

@media (min-width: 756px) {
.descproducto{
	font-size: 1.3em;

}

}


/*container titulo categoría*/

.containercat{
	width: 90%;
	margin-left: 10%;
}

.añadir{
	padding: 10px;
	border:2px solid black;
	border-radius: 4px;

font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: black;

}