html, body {
    height: 100%;
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
}
.content {
    flex: 1;
}
.footer {
    background: #f1f1f1;
    text-align: center;
    padding: 10px;
}

body {
    overflow-x: hidden;
}
#body.block_overflow {
    overflow: hidden;
}

/* Primera imagen de la pagina */

.primerbloque img {
    margin-top: 110px;
    width: 100%;
    min-height: 300px;
}

/* primerbloque Responsive Margin */

@media (min-width: 768px) {
    .primerbloque img {
        margin-top: 85px;
    }
}

/* Slider */

.center-slider {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.slider {
    max-width: 1000px;
    overflow: hidden;
    border-radius: 5px;
}
.slides {
    display: flex;
    width: 300%;
    transition: transform 0.5s ease-in-out;
}
.slide {
    width: 100%;
    flex-shrink: 0;
}
.slide img {
    width: 100%;
    display: block;
}

/* Post Slider */

.post-slider {
    font-family: 'Codec Pro', sans-serif;                                         
}
.post-slider img {
    width: 250px;
}
.tarjeta {
    border: 1px solid black;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
}

/*Muy Importante en el RESPONSIVE NO TOCAR*/

.row {
    --bs-gutter-x: 0 !important;
}

/* Productos en busqueda */

.h1-resultados {
    height: 110px;
    color: rgb(0, 0, 0);
}
.tarjeta-busqueda {
    background: #eeeeee;
    min-height: 250px;
    min-width: 400px;
    max-width: 450px;
}
.tarjeta-busqueda p {
    max-height: 150px;
    border: 1px solid rgb(216, 216, 216);
    border-radius: 3px;
    padding: 5px;
}
.tarjeta-busqueda h4 {
    color: rgb(43, 151, 0);
    text-shadow: 0px 0px 3px rgb(192, 192, 192);
}
.tarjeta-busqueda div a {
    padding: 5px 7px 5px 5px;
}
.tarjeta-busqueda div a img {
    width: 25px;
    filter: invert(100%);
}

/* Footer en pagina de busqueda */

.footer-busqueda {
    position: absolute;
    bottom: 0;
}

/* Footer */

footer {
    background: black;
}
.footer-superior {
    background: #C2C2C2;
}
.footer-superior img {
    width: 25px;
}
.footer-superior ul {
    list-style: none;
}
.footer-superior a {
    color: black;
    text-decoration: none;
}
.footer-superior a:hover {
    text-decoration: underline;
}
.footer-inferior {
    background: #444444;
}
.footer-inferior p, .footer-inferior b {
    font-size: 15px;
}